body {
    margin: 50px;
    height: auto;
    background-color: #f7f7f7;
}

.main-segment {
  padding: 5% !important;
}

.grid-container {
  align-items: center !important;
}

.grid-column-left {
  padding-right: 5% !important; 
  vertical-align: middle;
  text-align: center;
}

.grid-column-right {
  padding-left: 5% !important;
  vertical-align: middle;
}

::placeholder {
  color: hsl(0,0%,50%) !important;
}

input {
  border-color: hsl(0,0%,80%) !important;
}

.error {
  color: red;
}