body {
    margin: 50px;
    height: auto;
    background-color: #f7f7f7;
}

.main-segment {
  padding: 5% !important;
}

.column-left {
  padding-right: 5% !important; 
}

.column-right {
  padding-left: 5% !important;
}

::placeholder{
  color: hsl(0,0%,50%) !important;
}

input {
  border-color: hsl(0,0%,80%) !important;
}

.error {
  color: red;
}